@use '../../styles/main' as *;

.ui-setting-group {
    margin-bottom: $spacing-xl;

    &__header {
        margin-bottom: $spacing-md;
    }

    &__label {
        font-size: 14px;
        font-weight: 500;
        color: var(--text-primary);

        span {
            display: block;
        }
    }

    &__control {
        display: flex;
        flex-direction: column;
        gap: $spacing-sm;
    }

    &__description {
        font-size: 12px;
        color: var(--text-secondary);
        margin-top: $spacing-xs;
        line-height: 1.5;
    }
}
